doctype html
html(lang='en')
  head
    include pugJs includes/_links.pug
  body
    include pugJs includes/_header.pug
    include pugJs includes/_landing.pug
    include pugJs includes/_info.pug
    include pugJs includes/_services.pug
    include pugJs includes/_awards-numbers.pug
    include pugJs includes/_portfolio.pug
    include pugJs includes/_videosec.pug
    include pugJs includes/_team.pug
    include pugJs includes/_testimonials.pug
    include pugJs includes/_footer.pug