doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sparkle Template
  // Page Title Icon
  link(rel='shortcut icon' type='image/x-icon' href='images/logo_light.png')
  // Normalize Library
  link(rel='stylesheet' href='css/libraries/normalize.css')
  // Font Awesome Library
  link(rel='stylesheet' href='css/libraries/all.min.css')
  // Main CSS File
  link(rel='stylesheet' href='css/main.css')
  // Google Fonts
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap')
// ! Start Header
header
  .container
    img(src='images/logo_light.png' alt='Logo')
    nav
      label(for='menu')
        span
        span
        span
      div
        input#menu(type='checkbox')
        ul
          li
            a(href='#services') Our Services
          li
            a(href='#portfolio') Our Portfolio
          li
            a(href='#team') Our Team
          li
            a(href='#contact') Contact Us
// ! End Header
// * Start Header
section.landing
  h1 design comes to those who wait
  p hello, this is onepage multipurpose template.
  a(href='#' target='_blank') learn more
  i.fas.fa-angle-double-down
// * End Landing
// ? Start Info
section.info
  .container
    i.fas.fa-mountain
    p
      | Donec rutrum congue leo eget malesuada. Curabitur non nulla
      | sit amet nisl tempus convallis quis ac lectus. Proin eget
      | tortor risus. Mauris blandit aliquet elit, eget tincidunt
      | nibh pulvinar a. Curabitur non nulla sit amet nisl tempus.
// ? End Info
// & Start Services
section#services.services
  .container
    .secheader
      img(src='images/axes.png' alt='Axes')
      h1 our services
      p
        | Vestibulum ac diam sit amet quam vehicula elementum sed
        | sit amet dui. Quisque velit nisi, pretium ut lacinia in,
        | elementum id enim. Donec sollicitudin molestie malesuada
    .content
      .skill
        .big
          i.fas.fa-print
          h4
            | graphic
            br
            | design
          p
            | Vestibulum ac diam sit amet quam vehicula
            | elementum sed sit amet dui. Quisque velit nisi,
            | pretium ut lacinia in, elementum id enim. Donec
            | sollicitudin
        .small
          h4 Ps
          span
            span(style='width: 90%')
          h4 Ai
          span
            span(style='width: 50%')
          h4 Ui
          span
            span(style='width: 70%')
      .skill
        .big
          i.fas.fa-paint-roller
          h4
            | web
            br
            | design
          p
            | Vestibulum ac diam sit amet quam vehicula
            | elementum sed sit amet dui. Quisque velit nisi,
            | pretium ut lacinia in, elementum id enim. Donec
            | sollicitudin
        .small
          h4 Ps
          span
            span(style='width: 80%')
          h4 Ai
          span
            span(style='width: 60%')
          h4 Ui
          span
            span(style='width: 75%')
      .skill
        .big
          i.fas.fa-desktop
          h4
            | web
            br
            | development
          p
            | Vestibulum ac diam sit amet quam vehicula
            | elementum sed sit amet dui. Quisque velit nisi,
            | pretium ut lacinia in, elementum id enim. Donec
            | sollicitudin
        .small
          h4 Ps
          span
            span(style='width: 95%')
          h4 Ai
          span
            span(style='width: 72%')
          h4 Ui
          span
            span(style='width: 85%')
      .skill
        .big
          i.fas.fa-mobile-alt
          h4
            | app
            br
            | development
          p
            | Vestibulum ac diam sit amet quam vehicula
            | elementum sed sit amet dui. Quisque velit nisi,
            | pretium ut lacinia in, elementum id enim. Donec
            | sollicitudin
        .small
          h4 Ps
          span
            span(style='width: 47%')
          h4 Ai
          span
            span(style='width: 68%')
          h4 Ui
          span
            span(style='width: 87%')
// & End Services
// ^ Start Awards & Numbers
section.nums
  .container
    .box
      h4 694
      p completed designs
    .box
      h4 321
      p pages created
    .box
      h4 935
      p pages coded
    .box
      h4 87
      p apps developed
// ^ End Awards & Numbers
// * Start Portfolio
section#portfolio.portfolio
  .container
    .secheader
      img(src='images/axes.png' alt='Axes')
      h1 our portfolio
      p
        | Vestibulum ac diam sit amet quam vehicula elementum sed
        | sit amet dui. Quisque velit nisi, pretium ut lacinia in,
        | elementum id enim. Donec sollicitudin molestie malesuada
    .content
      .box
        button Graphic
        button Web
      img(src='images/logo_dark.png' alt='Logo')
      .box
        button Development
        button App
  .imgs
    .box
      img(src='images/portfolio_01.jpg' alt='First Project')
    .box
      img(src='images/portfolio_02.jpg' alt='Second Project')
    .box
      img(src='images/portfolio_03.jpg' alt='Third Project')
    .box
      img(src='images/portfolio_04.jpg' alt='Fourth Project')
    .box
      img(src='images/portfolio_05.jpg' alt='Fifth Project')
    .box
      img(src='images/portfolio_06.jpg' alt='Sixth Project')
  .container
    button.more like what you see?
// * End Portfolio
// ! Start Video
section.vid
  video(src='images/video.mp4' autoplay='' loop='' muted='')
  button view our video
// ! End Video
// ? Start Team
section#team.team
  .container
    .secheader
      img(src='images/axes.png' alt='Axes')
      h1 our team
      p
        | Vestibulum ac diam sit amet quam vehicula elementum sed
        | sit amet dui. Quisque velit nisi, pretium ut lacinia in,
        | elementum id enim. Donec sollicitudin molestie malesuada
    .content
      .box
        .image(data-person='Walter White')
          img(src='images/team_01.jpg' alt='Team Member 1')
        p
          | Vestibulum ac diam sit amet quam vehicula elementum
          | sed sit amet dui. Quisque velit nisi, pretium ut
          | lacinia in, elementum id enim. Donec sollicitudin
      .box
        .image(data-person='Saul Goodman')
          img(src='images/team_02.jpg' alt='Team Member 2')
        p
          | Vestibulum ac diam sit amet quam vehicula elementum
          | sed sit amet dui. Quisque velit nisi, pretium ut
          | lacinia in, elementum id enim. Donec sollicitudin
      .box
        .image(data-person='Tyrion Lannister')
          img(src='images/team_03.jpg' alt='Team Member 3')
        p
          | Vestibulum ac diam sit amet quam vehicula elementum
          | sed sit amet dui. Quisque velit nisi, pretium ut
          | lacinia in, elementum id enim. Donec sollicitudin
      .box
        .image(data-person='Michael Scofield')
          img(src='images/team_04.jpg' alt='Team Member 4')
        p
          | Vestibulum ac diam sit amet quam vehicula elementum
          | sed sit amet dui. Quisque velit nisi, pretium ut
          | lacinia in, elementum id enim. Donec sollicitudin
// ? End Team
// ^ Start Testimonials
section.testimonials
  .container
    .box1
      p
        | Pellentesque in ipsum id orci porta dapibus. Lorem ipsum
        | dolor sit amet, consectetur adipiscing elit. Proin eget
        | tortor risus. Lorem ipsum dolor sit amet, consectetur
        | adipiscing elit. Curabitur non nulla sit amet nisl
        | tempus convallis quis ac lectus. Vivamus magna justo,
        | lacinia eget consectetur sed, convallis at tellus.
        | Curabitur non nulla sit amet nisl tempus convallis quis
        | ac lectus. Nulla quis lorem ut libero malesuada feugiat.
        | Pellentesque in ipsum id orci porta dapibus. Lorem ipsum
        | dolor sit amet, consectetur adipiscing elit. Proin eget
        | tortor risus. Lorem ipsum dolor sit amet, consectetuquis
        | ac lectus. Nulla quis lorem ut libero malesuada feugiat.
    .box2
      q
        | Proin eget tortor risus. Lorem ipsum dolor sit amet,
        | consectetur adipiscing elit. Curabitur non nulla sit
        | amet nisl tempus convallis justo, lacinia eget malesuada
        | feugiat
      span - John Doe SEO
    .box3
      img(src='images/about.jpg' alt='About')
    .box4
      q
        | Proin eget tortor risus. Lorem ipsum dolor sit amet,
        | consectetur adipiscing elit. Curabitur non nulla sit
        | amet nisl tempus convallis justo, lacinia eget malesuada
        | feugiat
      span - John Doe SEO
// ^ End Testimonials
// * Start Footer
footer
  .container
    .content.info
      img(src='images/logo_light.png' alt='Logo')
      p
        | Pellentesque in ipsum id orci porta dapibus. Vivamus
        | magna justo, lacinia eget consectetur sed, convallis at
        | tellus. Pellentesque in ipsum id orci porta dapibus.
      p
        | Created By 
        span Graphberry
        br
        |                         Developed By 
        span Philopater Hany
        br
        |                         &copy; 2021 - Sparkle.Inc
    .content.links
      h4 Links
      ul
        li
          a(href='#') Home
        li
          a(href='#') Services
        li
          a(href='#') Portfolio
        li
          a(href='#') Testimonials
        li
          a(href='#') Support
        li
          a(href='#') Terms And Conditions
    .content.about-us
      h4 About Us
      ul
        li
          a(href='#') Sign In
        li
          a(href='#') Register
        li
          a(href='#') About Us
        li
          a(href='#') Blog
        li
          a(href='#') Contact Us
    .content.contact-us
      h4 Contact Us
      p
        | Get in touch with us via mail phone.We are waiting for
        | your call or message
      a.mail(href='mailto:graphberry@gmail.com' target='_blank')
        | graphberry@gmail.com
      ul
        li
          a(href='#')
            i.fab.fa-facebook-f
        li
          a(href='#')
            i.fab.fa-twitter
        li
          a(href='#')
            i.fab.fa-google-plus-g
        li
          a(href='#')
            i.fab.fa-github
// * End Footer
