//- Start Footer
footer
  .container
    .content.info
      img(src='images/logo_light.png' alt='Logo')
      p
        | Pellentesque in ipsum id orci porta dapibus. Vivamus
        | magna justo, lacinia eget consectetur sed, convallis at
        | tellus. Pellentesque in ipsum id orci porta dapibus.
      p
        | Created By 
        span Graphberry
        br
        | Developed By 
        span Philopater Hany
        br
        | &copy; 2021 - Sparkle.Inc
    .content.links
      h4 Links
      ul
        li
          a(href='#') Home
        li
          a(href='#') Services
        li
          a(href='#') Portfolio
        li
          a(href='#') Testimonials
        li
          a(href='#') Support
        li
          a(href='#') Terms And Conditions
    .content.about-us
      h4 About Us
      ul
        li
          a(href='#') Sign In
        li
          a(href='#') Register
        li
          a(href='#') About Us
        li
          a(href='#') Blog
        li
          a(href='#') Contact Us
    .content.contact-us
      h4 Contact Us
      p
        | Get in touch with us via mail phone.We are waiting for
        | your call or message
      a(href='mailto:graphberry@gmail.com' target='_blank' class='mail')
        | graphberry@gmail.com
      ul
        li
          a(href='#')
            i.fab.fa-facebook-f
        li
          a(href='#')
            i.fab.fa-twitter
        li
          a(href='#')
            i.fab.fa-google-plus-g
        li
          a(href='#')
            i.fab.fa-github
//- End Footer
