//- Start Header
header
  .container
    img(src='images/logo_light.png' alt='Logo')
    nav
      label(for='menu')
        span
        span
        span
      div
        input#menu(type='checkbox')
        ul
          li
            a(href='#services') Our Services
          li
            a(href='#portfolio') Our Portfolio
          li
            a(href='#team') Our Team
          li
            a(href='#contact') Contact Us
//- End Header