//- Start Landing
section.landing
  h1 design comes to those who wait
  p hello, this is onepage multipurpose template.
  a(href='#' target='_blank') learn more
  i.fas.fa-angle-double-down
//- End Landing