//- Start Portfolio
section#portfolio.portfolio
  .container
    .secheader
      img(src='images/axes.png' alt='Axes')
      h1 our portfolio
      p
        | Vestibulum ac diam sit amet quam vehicula elementum sed
        | sit amet dui. Quisque velit nisi, pretium ut lacinia in,
        | elementum id enim. Donec sollicitudin molestie malesuada
    .content
      .box
        button Graphic
        button Web
      img(src='images/logo_dark.png' alt='Logo')
      .box
        button Development
        button App
  .imgs
    .box
      img(src='images/portfolio_01.jpg' alt='First Project')
    .box
      img(src='images/portfolio_02.jpg' alt='Second Project')
    .box
      img(src='images/portfolio_03.jpg' alt='Third Project')
    .box
      img(src='images/portfolio_04.jpg' alt='Fourth Project')
    .box
      img(src='images/portfolio_05.jpg' alt='Fifth Project')
    .box
      img(src='images/portfolio_06.jpg' alt='Sixth Project')
  .container
    button.more like what you see?
//- End Portfolio