//- Start Services
section#services.services
  .container
    .secheader
      img(src='images/axes.png' alt='Axes')
      h1 our services
      p
        | Vestibulum ac diam sit amet quam vehicula elementum sed
        | sit amet dui. Quisque velit nisi, pretium ut lacinia in,
        | elementum id enim. Donec sollicitudin molestie malesuada
    .content
      .skill
        .big
          i.fas.fa-print
          h4
            | graphic
            br
            | design
          p
            | Vestibulum ac diam sit amet quam vehicula
            | elementum sed sit amet dui. Quisque velit nisi,
            | pretium ut lacinia in, elementum id enim. Donec
            | sollicitudin
        .small
          h4 Ps
          span
            span(style='width: 90%')
          h4 Ai
          span
            span(style='width: 50%')
          h4 Ui
          span
            span(style='width: 70%')
      .skill
        .big
          i.fas.fa-paint-roller
          h4
            | web
            br
            | design
          p
            | Vestibulum ac diam sit amet quam vehicula
            | elementum sed sit amet dui. Quisque velit nisi,
            | pretium ut lacinia in, elementum id enim. Donec
            | sollicitudin
        .small
          h4 Ps
          span
            span(style='width: 80%')
          h4 Ai
          span
            span(style='width: 60%')
          h4 Ui
          span
            span(style='width: 75%')
      .skill
        .big
          i.fas.fa-desktop
          h4
            | web
            br
            | development
          p
            | Vestibulum ac diam sit amet quam vehicula
            | elementum sed sit amet dui. Quisque velit nisi,
            | pretium ut lacinia in, elementum id enim. Donec
            | sollicitudin
        .small
          h4 Ps
          span
            span(style='width: 95%')
          h4 Ai
          span
            span(style='width: 72%')
          h4 Ui
          span
            span(style='width: 85%')
      .skill
        .big
          i.fas.fa-mobile-alt
          h4
            | app
            br
            | development
          p
            | Vestibulum ac diam sit amet quam vehicula
            | elementum sed sit amet dui. Quisque velit nisi,
            | pretium ut lacinia in, elementum id enim. Donec
            | sollicitudin
        .small
          h4 Ps
          span
            span(style='width: 47%')
          h4 Ai
          span
            span(style='width: 68%')
          h4 Ui
          span
            span(style='width: 87%')
//- End Services