//- Start Team
section#team.team
  .container
    .secheader
      img(src='images/axes.png' alt='Axes')
      h1 our team
      p
        | Vestibulum ac diam sit amet quam vehicula elementum sed
        | sit amet dui. Quisque velit nisi, pretium ut lacinia in,
        | elementum id enim. Donec sollicitudin molestie malesuada
    .content
      .box
        .image(data-person='Walter White')
          img(src='images/team_01.jpg' alt='Team Member 1')
        p
          | Vestibulum ac diam sit amet quam vehicula elementum
          | sed sit amet dui. Quisque velit nisi, pretium ut
          | lacinia in, elementum id enim. Donec sollicitudin
      .box
        .image(data-person='Saul Goodman')
          img(src='images/team_02.jpg' alt='Team Member 2')
        p
          | Vestibulum ac diam sit amet quam vehicula elementum
          | sed sit amet dui. Quisque velit nisi, pretium ut
          | lacinia in, elementum id enim. Donec sollicitudin
      .box
        .image(data-person='Tyrion Lannister')
          img(src='images/team_03.jpg' alt='Team Member 3')
        p
          | Vestibulum ac diam sit amet quam vehicula elementum
          | sed sit amet dui. Quisque velit nisi, pretium ut
          | lacinia in, elementum id enim. Donec sollicitudin
      .box
        .image(data-person='Michael Scofield')
          img(src='images/team_04.jpg' alt='Team Member 4')
        p
          | Vestibulum ac diam sit amet quam vehicula elementum
          | sed sit amet dui. Quisque velit nisi, pretium ut
          | lacinia in, elementum id enim. Donec sollicitudin
//- End Team