//& Start variables
$mainColor: #ffe500;
$mainLight: #f4f4f4;
$mainDark: #1a1a1a;
$mainDur: 0.3s;
$mainPadding: 50px;
$mainBR: 10px;
//& End variables
//? Start Mixins
@mixin transDur($s) {
    transition: $s;
    -webkit-transition: $s;
    -moz-transition: $s;
    -ms-transition: $s;
    -o-transition: $s;
}
@mixin bRad($r) {
    border-radius: $r;
    -webkit-border-radius: $r;
    -moz-border-radius: $r;
    -ms-border-radius: $r;
    -o-border-radius: $r;
}
@mixin transX($x) {
    transform: translateX($x);
    -webkit-transform: translateX($x);
    -moz-transform: translateX($x);
    -ms-transform: translateX($x);
    -o-transform: translateX($x);
}
@mixin transY($y) {
    transform: translateY($y);
    -webkit-transform: translateY($y);
    -moz-transform: translateY($y);
    -ms-transform: translateY($y);
    -o-transform: translateY($y);
}
@mixin secbackground($path) {
    background-color: $mainDark;
    background: $path;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
@mixin flexbox($jc, $ai, $dir) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $dir;
}
//? End Mixins
//* Start Components
.container {
    padding-inline: 15px;
    margin-inline: auto;
    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }
}
.secheader {
    @include flexbox(center, center, column);
    text-align: center;
    img {
        width: 50px;
        margin-bottom: 20px;
    }
    h1 {
        font-weight: normal;
        font-size: 20px;
        letter-spacing: 16px;
        text-transform: capitalize;
        color: $mainDark;
    }
    p {
        color: #777;
        line-height: 2;
    }
}
//* End Components
//^ Start Global Rules
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
html {
    scroll-behavior: smooth;
}
//^ End Global Rules
