@import "_helper";

header {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    .container {
        @include flexbox(space-between, center, row);
    }
    img {
        width: 40px;
    }
    nav {
        label {
            @include flexbox(center, flex-end, column);
            width: 27px;
            height: 27px;
            cursor: pointer;
            &:hover > span {
                width: 100% !important;
            }
            span {
                display: inline-block;
                margin: 3px 0;
                width: 100%;
                height: 3px;
                background-color: $mainColor;
                @include transDur($mainDur);
                &:nth-child(2) {
                    width: 75%;
                }
                &:last-child {
                    width: 50%;
                }
            }
        }
        div {
            position: relative;
            input {
                display: none;
                &:checked + ul {
                    @include flexbox(space-around, center, column);
                }
            }
            ul {
                width: 250px;
                height: 250px;
                list-style: none;
                background-color: $mainDark;
                padding: $mainPadding;
                display: none;
                position: absolute;
                top: 20px;
                right: -15px;
                z-index: 99;
                &::before {
                    content: "";
                    position: absolute;
                    top: -30px;
                    right: 10px;
                    border: 15px solid;
                    border-color: transparent transparent $mainDark transparent;
                }
                li {
                    margin: 15px 0;
                    @include transDur($mainDur);
                    &:hover {
                        padding-left: 30px;
                    }
                    &:hover > a {
                        color: $mainColor;
                        font-weight: bold;
                    }
                    a {
                        color: $mainLight;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
section.landing {
    @include secbackground(url(../../images/landing.jpg));
    width: 100%;
    height: 100vh;
    z-index: -1;
    @include flexbox(center, center, column);
    h1 {
        font-size: 20px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 15px;
        color: $mainLight;
        text-align: center;
    }
    p {
        color: $mainLight;
        text-transform: capitalize;
        margin: 20px 0 40px;
        font-size: 16px;
        letter-spacing: 5px;
        text-align: center;
    }
    a {
        outline: none;
        border: none;
        color: $mainDark;
        background-color: $mainColor;
        text-decoration: none;
        padding: 15px 20px;
        text-transform: capitalize;
        font-weight: bold;
        letter-spacing: 3px;
        @include transDur($mainDur);
        &:hover {
            filter: brightness(90%);
            -webkit-filter: brightness(90%);
        }
    }
    i {
        @keyframes updn {
            0% {
                bottom: 60px;
            }
            25% {
                bottom: 40px;
            }
            50% {
                bottom: 20px;
            }
            100% {
                bottom: 60px;
            }
        }
        color: $mainLight;
        font-size: 20px;
        font-weight: 900;
        position: absolute;
        bottom: 60px;
        left: 50%;
        @include transX(-50%);
        animation: 1.5s linear infinite updn;
        -webkit-animation: 1.5s linear infinite updn;
    }
}
section.info {
    .container {
        @include flexbox(center, center, column);
        padding: $mainPadding 0;
        i {
            font-size: 80px;
            color: $mainColor;
            margin-bottom: 40px;
        }
        p {
            color: #777;
            line-height: 2.2;
            letter-spacing: 3px;
            font-size: 15px;
            text-align: center;
            max-width: 750px;
        }
    }
}
section.services {
    background-color: $mainLight;
    padding: $mainPadding 0;
    .container {
        .content {
            margin-top: 75px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 40px;
            .skill {
                @include flexbox(center, center, column);
                div {
                    width: 100%;
                    background-color: #fff;
                    @include bRad($mainBR);
                    padding: $mainPadding / 2;
                }
                .big {
                    text-align: center;
                    margin-bottom: 15px;
                    @include transDur($mainDur);
                    overflow: hidden;
                    position: relative;
                    background: linear-gradient(
                            -90deg,
                            #fff 50%,
                            $mainColor 50%
                        )
                        right;
                    background-size: 200%;
                    &:hover {
                        background-position: left;
                    }
                    &:hover > * {
                        color: #fff !important;
                    }
                    i {
                        font-size: 60px;
                        color: $mainColor;
                    }
                    h4 {
                        margin: 10px 0 15px;
                        letter-spacing: 5px;
                        line-height: 1.5;
                        text-transform: uppercase;
                    }
                    p {
                        color: #777;
                        line-height: 2;
                        font-size: 14px;
                    }
                }
                .small {
                    background-color: #fff;
                    span {
                        display: block;
                        width: 100%;
                        height: 5px;
                        margin: 10px 0 20px;
                        background-color: $mainLight;
                        @include bRad($mainBR);
                        span {
                            height: 100%;
                            background-color: $mainColor;
                            @include bRad($mainBR);
                        }
                    }
                }
            }
        }
    }
}
section.nums {
    @include secbackground(url(../../images/landing.jpg));
    padding-block: $mainPadding;
    .container {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        .box {
            @include flexbox(space-between, center, column);
            background-color: #fff;
            @include bRad(15px);
            & > * {
                margin-block: 10px;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
        }
    }
}
section.portfolio {
    padding: $mainPadding 0;
    .container {
        .content {
            display: grid;
            grid-template-columns: 2fr 1fr 2fr;
            margin-top: 80px;
            @media (max-width: 768px) {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);
                row-gap: 30px;
            }
            .box {
                border: 1px solid;
                border-color: $mainDark transparent;
                @include flexbox(center, center, row);
                @media (max-width: 991px) {
                    flex-direction: column !important;
                }
                button {
                    width: 200px;
                    height: 100%;
                    padding: 15px 20px;
                    letter-spacing: 3px;
                    font-size: 14px;
                    background-color: transparent;
                    cursor: pointer;
                    outline: none;
                    border: none;
                    @include transDur($mainDur);
                    &:hover {
                        background-color: #1a1a1a0e;
                    }
                    @media (max-width: 991px) {
                        width: 90%;
                    }
                }
            }
            img {
                width: 80px;
                margin: 0 auto;
            }
        }
    }
    .imgs {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(225px, 1fr));
        margin-block: 40px;
        @media (min-width: 1367px) {
            grid-template-columns: repeat(
                auto-fill,
                minmax(calc(100% / 6), 1fr)
            );
        }
        .box {
            position: relative;
            overflow: hidden;
            &::before,
            &::after {
                position: absolute;
                text-align: center;
                @include transDur($mainDur);
            }
            &::before {
                content: "Project";
                padding-top: 40px;
                font-weight: bold;
                letter-spacing: 3px;
                width: 150px;
                height: 250px;
                top: -999px;
                left: 50%;
                margin-left: -75px;
                margin-top: -125px;
                background-color: $mainColor;
                opacity: 0.7;
                z-index: 0;
                @media (max-width: 460px) {
                    height: 90%;
                    margin-left: -75px;
                }
            }
            &:hover::before {
                top: 50%;
            }
            &::after {
                content: "Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in";
                line-height: 1.3;
                width: 200px;
                height: 100px;
                padding: 10px;
                top: 50%;
                left: -999px;
                margin-left: -100px;
                margin-top: -50px;
                background-color: #fff;
                opacity: 0.9;
                z-index: 1;
                transition-delay: $mainDur;
                @include flexbox(center, flex-start, row);
                @media (max-width: 460px) {
                    width: 100%;
                    margin-left: -50%;
                }
            }
            &:hover::after {
                left: 45%;
            }
            img {
                height: 100%;
                width: 100%;
                user-select: none;
            }
        }
    }
    .container {
        .more {
            position: relative;
            left: calc(50% - 100px);
            width: 200px;
            border: none;
            outline: none;
            background-color: $mainColor;
            padding: 20px 15px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 12px;
            font-weight: bold;
            cursor: pointer;
            @include transDur($mainDur);
            &:hover {
                filter: brightness(90%);
                -webkit-filter: brightness(90%);
            }
        }
    }
}
section.vid {
    width: 100%;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
    video {
        width: 100%;
    }
    button {
        width: 250px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -125px;
        padding: 20px 15px;
        border: 2px solid $mainColor;
        color: $mainColor;
        font-weight: bold;
        letter-spacing: 3px;
        text-transform: uppercase;
        background: linear-gradient(-90deg, transparent 50%, $mainColor 50%);
        background-position: right;
        background-size: 200%;
        cursor: pointer;
        @include flexbox(center, center, row);
        @include transDur($mainDur);
        &:hover {
            background-position: left;
            color: $mainDark;
        }
    }
}
section.team {
    padding: $mainPadding 0;
    .container {
        .content {
            margin-top: 80px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 20px;
            .box {
                box-shadow: 0 0 10px rgba($color: $mainDark, $alpha: 0.5);
                overflow: hidden;
                position: relative;
                &::before {
                    content: attr(data-person);
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    padding: 10px 0;
                    background-color: rgba($color: $mainColor, $alpha: 0.7);
                    font-weight: bold;
                    letter-spacing: 3px;
                    text-transform: capitalize;
                    text-align: center;
                    z-index: 99;
                }
                img {
                    height: 60%;
                    width: 100%;
                    @include transDur($mainDur);
                    &:hover {
                        transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        -o-transform: scale(1.1);
                    }
                }
                p {
                    text-align: center;
                    color: #777;
                    line-height: 1.5;
                    padding: 15px;
                    @media (min-width: 992px) {
                        margin-bottom: 60px;
                    }
                }
            }
        }
    }
}
section.testimonials {
    margin-block: 100px;
    background: linear-gradient(
        0deg,
        #fff 40%,
        $mainColor 40%,
        $mainColor 60%,
        #fff 60%
    );
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px 40px;
        @media (max-width: 992px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
        }
        .box1 {
            grid-column: 1 / 1;
            grid-row: 1 / 3;
            background-color: $mainDark;
            p {
                padding: 50px;
                letter-spacing: 1px;
                line-height: 2;
                font-size: 12px;
                color: #fff;
            }
        }
        .box2,
        .box4 {
            @include flexbox(center, center, column);
            q {
                font-size: 14px;
                letter-spacing: 1px;
                line-height: 2;
                color: #707070;
                text-align: center;
                margin-bottom: 10px;
                &::before,
                &::after {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    font-size: 10px;
                    position: relative;
                    top: -10px;
                    margin-inline: 5px;
                }
                &::before {
                    content: "\f10d";
                }
                &::after {
                    content: "\f10e";
                }
            }
            span {
                align-self: flex-end;
                font-weight: bold;
                font-size: 12px;
                font-style: italic;
            }
        }
        .box2 {
            span {
                align-self: flex-end;
            }
            @media (max-width: 992px) {
                display: none;
            }
        }
        .box3 {
            grid-column: 2 / 2;
            grid-row: 2 / 4;
            img {
                height: 100%;
                width: 100%;
            }
            @media (max-width: 992px) {
                display: none;
            }
        }
        .box4 {
            span {
                align-self: flex-start;
            }
        }
    }
}
footer {
    background-color: $mainDark;
    color: #fff;
    padding: $mainPadding 0;
    .container {
        display: grid;
        grid-template-columns: 1fr auto auto 1fr;
        gap: 40px;
        @media (max-width: 992px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            text-align: center;
        }
        .content {
            h4 {
                font-weight: normal;
                margin-bottom: 35px;
                margin-top: 10px;
            }
            ul {
                li {
                    list-style: none;
                    margin-block: 20px;
                    font-size: 14px;
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
        .info {
            img {
                width: 50px;
            }
            p {
                line-height: 2;
                font-size: 14px;
                &:nth-child(2) {
                    margin-top: 10px;
                    margin-bottom: 50px;
                }
                span {
                    color: $mainColor;
                    font-weight: 600;
                }
            }
        }
        .links,
        .about-us {
            ul {
                li {
                    a {
                        @include transDur($mainDur);
                        &:hover {
                            padding-left: 15px;
                            color: $mainColor;
                        }
                    }
                }
            }
        }
        .contact-us {
            p {
                line-height: 2;
                a.mail {
                    display: block;
                    color: #000;
                    text-decoration: none;
                    text-align: center;
                    margin-top: 20px;
                    padding: 15px 35px;
                    @include bRad(15px);
                    background-color: $mainColor;
                }
            }
            ul {
                @include flexbox(flex-start, center, row);
                @media (max-width: 768px) {
                    justify-content: center;
                }
                li {
                    @include bRad(50%);
                    @include transDur($mainDur);
                    @include flexbox(center, center, row);
                    background-color: #fff;
                    width: 30px;
                    height: 30px;
                    margin-inline: 10px;
                    &:hover {
                        background-color: $mainColor;
                    }
                    a {
                        color: #000;
                    }
                }
            }
        }
    }
}
